<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Mi app de Tareas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <h5>{{tarea.titulo}}</h5>
      <div class="imagen">
        <img src={{imgurl}}>
      </div>
      <h6>Descripción: {{tarea.descripcion}}</h6>
      <h6>Fecha: {{tarea.fechames}}/{{tarea.fechaanio}}</h6>
      <br><br><br>
      <div class="botones"></div>
      <ion-button>
        <ion-icon name="share" ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="download"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="mail"></ion-icon>
      </ion-button>
      
    </ion-card>
  </ion-content>
</ion-app>