<ion-content>

  <ion-toolbar>
    <ion-title>
      Agregar Tarea
    </ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-row>
      <p>Nombre de la tarea:</p>
      <ion-textarea></ion-textarea>
    </ion-row>

    <ion-row>
      <p>Fecha estimada en que se completará:</p>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Mes:</ion-label>
          <ion-select>
            <ion-select-option>Enero</ion-select-option>
            <ion-select-option>Febrero</ion-select-option>
            <ion-select-option>Marzo</ion-select-option>
            <ion-select-option>Abril</ion-select-option>
            <ion-select-option>Mayo</ion-select-option>
            <ion-select-option>Junio</ion-select-option>
            <ion-select-option>Julio</ion-select-option>
            <ion-select-option>Agosto</ion-select-option>
            <ion-select-option>Septiembre</ion-select-option>
            <ion-select-option>Octubre</ion-select-option>
            <ion-select-option>Noviembre</ion-select-option>
            <ion-select-option>Diciembre</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Año:</ion-label>
          <ion-select>
            <ion-select-option>2023</ion-select-option>
            <ion-select-option>2024</ion-select-option>
            <ion-select-option>2025</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>
      <p>Descripción:</p>
      <ion-textarea></ion-textarea>
    </ion-row>

    <ion-row>
        <ion-button> Agregar </ion-button>
    </ion-row>
  </ion-card>

</ion-content>