<ion-content>

  <ion-toolbar>
    <ion-title>
      Agregar Tarea
    </ion-title>
  </ion-toolbar>


  <form #agregarTareaform="ngForm">
    <ion-card>
      <ion-row>
        <p>Nombre de la tarea:</p>
        <ion-input required id="nombre" name="tareatitulo" [(ngModel)]="nuevaTarea.titulo"></ion-input>
      </ion-row>

      <ion-row>
        <p>Fecha estimada en que se completará:</p>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Mes:</ion-label>
            <ion-select id="nombre" name="tareames" aria-label="tareames" [(ngModel)]="nuevaTarea.fechames">
              <ion-select-option value="1">Enero</ion-select-option>
              <ion-select-option value="2">Febrero</ion-select-option>
              <ion-select-option value="3">Marzo</ion-select-option>
              <ion-select-option value="4">Abril</ion-select-option>
              <ion-select-option value="5">Mayo</ion-select-option>
              <ion-select-option value="6">Junio</ion-select-option>
              <ion-select-option value="7">Julio</ion-select-option>
              <ion-select-option value="8">Agosto</ion-select-option>
              <ion-select-option value="9">Septiembre</ion-select-option>
              <ion-select-option value="10">Octubre</ion-select-option>
              <ion-select-option value="11">Noviembre</ion-select-option>
              <ion-select-option value="12">Diciembre</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Año:</ion-label>
            <ion-select id="nombre" name="tareaanio" aria-label="tareaanio" [(ngModel)]="nuevaTarea.fechaanio">
              <ion-select-option value="2024">2024</ion-select-option>
              <ion-select-option value="2025">2025</ion-select-option>
              <ion-select-option value="2026">2026</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <p>Descripción:</p>
        <ion-input id="nombre" name="tareadesc" [(ngModel)]="nuevaTarea.descripcion"></ion-input>
      </ion-row>

      <ion-row>
        <ion-button (click)="sumbit()"> Agregar </ion-button>
        
      </ion-row>
    </ion-card>
  </form>

</ion-content>