<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <link ref="TypeScript" href="home.page.ts">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Practica Directivas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p *ngIf="verdadero">Si ves este mensaje <strong>verdadero</strong> es <strong>true</strong></p>
  </div>
  <div *ngFor = "let i of articulos">
    <p>Articulo: <strong>{{i}}</strong></p>
  </div>
  <div>
    <p [ngClass]="{'rojo': verdadero, 'azul': verdadero ==false}">Si <strong>verdadero</strong> 
      es verdadero, este texto será <strong>rojo</strong>,
 pero si es falso, entonces será <strong>azul.</strong>
    </p>
  </div>
</ion-content>
